<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>ミニコードエディタ</title>
  <link rel="stylesheet" href="css/input.css" type="text/css">
</head>
<body>
  <div id="editor-container">
    <div id="line-numbers">1</div>
    <textarea id="editor" spellcheck="false"></textarea>
  </div>
  <div>
    <div id = "resultArea">

    </div>
  </div>
  <script src="js/AST/token/Operator.js"></script>
  <script src="js/AST/token/isSeparator.js"></script>
  <script src="js/AST/token/makeSeparatorToken.js"></script>
  <script src="js/View/showTokenResult.js"></script>
  <script src="js/AST/Lexer.js"></script>
  <script src="js/keyAction/tabAction.js"></script>
  <script src="js/keyAction/enterAction.js"></script>
  <script src="js/input.js"></script>
</body>
</html>
